body{
    background-color: black;
    font-size: medium;
    color: darkcyan;
    text-align: CENTER;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}